<h2>Packs overview</h2>
<button class="btn btn-primary" (click)="onClickAddPack()">
  <clr-icon shape="plus"></clr-icon> Add Pack
</button>

<ng-container *ngIf="loadingPacks; else packsLoaded">
  <div class="clr-row clr-justify-content-center packs-loading-spinner-row">
    <div class="clr-col-auto">
      <span class="spinner"></span>
    </div>
    <div class="clr-col-12 spinner-label-col">
      <label>Packs are being loaded...</label>
    </div>
  </div>

</ng-container>
<ng-template #packsLoaded>

  <clr-tabs>

    <clr-tab>
      <button clrTabLink>Map</button>
      <clr-tab-content *clrIfActive="true">

        <app-packs-map [packs]="retrievedPacks"></app-packs-map>

      </clr-tab-content>
    </clr-tab>
    
    <clr-tab>
      <button clrTabLink id="link1">Table</button>
      <clr-tab-content id="content1" *clrIfActive>

        <app-packs-table [packs]="retrievedPacks"></app-packs-table>
        
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>Groups</button>
      <clr-tab-content *clrIfActive>

        <app-packs-groups [packs]="retrievedPacks"></app-packs-groups>

      </clr-tab-content>
    </clr-tab>
    
  </clr-tabs>

</ng-template>