<clr-datagrid >
  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Gender</clr-dg-column>
  <clr-dg-column>Birthday</clr-dg-column>

  <clr-dg-row *clrDgItems="let wolf of wolves">
    <clr-dg-cell>{{wolf.id}}</clr-dg-cell>
    <clr-dg-cell>{{wolf.name}}</clr-dg-cell>
    <clr-dg-cell>{{wolf.gender | titlecase }}</clr-dg-cell>
    <clr-dg-cell>{{wolf.birthday | date:'dd-MM-yyyy'}}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onClickEditWolf(wolf)">Edit</button>
      <button class="action-item" (click)="onClickDeleteWolf(wolf)">Delete</button>
    </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Wolves per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} wolves
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>