<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <span class="title">
        <clr-icon shape="ruler-pencil"></clr-icon> Wolfpack Tracker
      </span>
    </div>

    <div class="header-nav">
      <a routerLink="wolves" routerLinkActive="active" class="nav-link nav-text">Wolves</a>
      <a routerLink="packs" routerLinkActive="active" class="nav-link nav-text">Packs</a>
    </div>

  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>