<h2>{{componentTitle}}</h2>
<button class="btn btn-primary" (click)="onClickBackToOverview()">Back to overview</button>

<form clrForm [formGroup]="wolfForm">

  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="name" />
    <clr-control-error>{{formErrorMessages.required}}</clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label>Gender</label>
    <select clrSelect formControlName="gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </clr-select-container>

  <clr-date-container>
    <label>Birthday</label>
    <input type="date" clrDate formControlName="birthday" (clrDateChange)="onBirthdayChanged($event)">
    <clr-control-error>{{formErrorMessages.required}}</clr-control-error>
  </clr-date-container>

<form>

<button class="btn btn-success" type="submit" [disabled]="!wolfForm.valid" (click)="onClickSubmit()">Submit</button>