<clr-select-container>
  <label>Select a pack</label>
  <select clrSelect name="options" [formControl]="selectFormControl">
    <option *ngFor="let pack of packs" [value]="pack.id">{{pack.name}}</option>
  </select>
</clr-select-container>

<ng-container *ngIf="selectedPack; else noPackSelected">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          {{selectedPack.name}}
        </div>
        <div class="card-block">

          <div class="card-text">
            Latitude: {{selectedPack.lat}} <br>
            Longitude: {{selectedPack.lng}}

            <div class="clr-row" *ngIf="selectedPack.wolves">
              <div class="clr-col-12">
                <h4>Wolves</h4>
              </div>

              <div *ngFor="let wolf of selectedPack.wolves" class="clr-col-6">
                <button type="button" class="btn btn-icon btn-danger wolf-remove-button" aria-label="error"
                  (click)="onClickDeleteWolf(wolf)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
                {{wolf.name}}
                <hr class="dashed">
              </div>
            </div>

          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link btn-success" (click)="onClickAddWolf()">
            Add Wolf
          </button>
        </div>
      </div>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="displayAddWolfModal">
    <h3 class="modal-title">Add Wolf to {{selectedPack.name}}</h3>
    <div class="modal-body">

      <clr-select-container>
        <label>Select the wolf you want to add</label>
        <select clrSelect name="options" [formControl]="selectWolfFormControl">
          <option *ngFor="let availableWolf of availableWolves" [value]="availableWolf.id">{{availableWolf.name}}</option>
        </select>
      </clr-select-container>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline btn-warn" (click)="displayAddWolfModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onClickSubmitAddWolf()" [disabled]="selectedWolf == null">Add</button>
    </div>
  </clr-modal>

</ng-container>
<ng-template #noPackSelected>
  <p>No pack is selected</p>
</ng-template>