<h2>Wolves overview</h2>
<button class="btn btn-primary" (click)="onClickAddWolf()">
    <clr-icon shape="plus"></clr-icon> Add Wolf
</button>

<ng-container *ngIf="loadingWolves; else wolvesLoaded">
    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-auto">
            <span class="spinner"></span>
        </div>
        <div class="clr-col-12 spinner-label-col">
            <label>Wolves are being loaded...</label>
        </div>
    </div>

</ng-container>
<ng-template #wolvesLoaded>
    <app-wolves-table [wolves]="retrievedWolves"></app-wolves-table>
</ng-template>