html,
body {
  height: 100%;
}

// Default Clarity Design colors
$primary: hsl(198, 100%, 32%);
$success: hsl(93, 100%, 26%);
$error: hsl(9, 100%, 43%);

// Styles for Angular Snackbar
.snackbar-info {
  color: white;
  background: $primary !important;
}

.snackbar-info .mat-simple-snackbar-action {
  color: white;
}

.snackbar-error {
  color: white;
  background: $error !important;
}

.snackbar-error .mat-simple-snackbar-action {
  color: white;
}

.snackbar-success {
  color: white;
  background: $success !important;
}

.snackbar-success .mat-simple-snackbar-action {
  color: white;
}

.mat-snack-bar-container {
  max-width: 100% !important;
}
