<h2>{{componentTitle}}</h2>
<button class="btn btn-primary" (click)="onClickBackToOverview()">Back to overview</button>

<form clrForm [formGroup]="packForm">

  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="name" />
    <clr-control-error *clrIfError="'required'">{{formErrorMessages.required}}</clr-control-error>
    <clr-control-error *clrIfError="'pattern'">The name can only contain letters</clr-control-error>
    
  </clr-input-container>

  <clr-input-container>
    <label>Latitude</label>
    <input clrInput type="number" formControlName="latitude">
    <clr-control-error *clrIfError="'required'">{{formErrorMessages.required}}</clr-control-error>
    <clr-control-error *clrIfError="'min'">Latitude cannot be smaller than -90</clr-control-error>
    <clr-control-error *clrIfError="'max'">Latitude cannot be larger than +90</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Longitude</label>
    <input clrInput type="number" formControlName="longitude" />
    <clr-control-error *clrIfError="'required'">{{formErrorMessages.required}}</clr-control-error>
    <clr-control-error *clrIfError="'min'">Longitude cannot be smaller than -180</clr-control-error>
    <clr-control-error *clrIfError="'max'">Longitude cannot be larger than +180</clr-control-error>
  </clr-input-container>

<form>

<button class="btn btn-success" type="submit" [disabled]="!packForm.valid" (click)="onClickSubmit()">Submit</button>