<clr-datagrid>
  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Latitude</clr-dg-column>
  <clr-dg-column>Longitude</clr-dg-column>

  <clr-dg-row *ngFor="let pack of packs">
    <clr-dg-cell>{{pack.id}}</clr-dg-cell>
    <clr-dg-cell>{{pack.name}}</clr-dg-cell>
    <clr-dg-cell>{{pack.lat}}</clr-dg-cell>
    <clr-dg-cell>{{pack.lng}}</clr-dg-cell>

    <clr-dg-action-overflow>
      <button class="action-item" (click)="onClickEditPack(pack)">Edit</button>
      <button class="action-item" (click)="onClickDeletePack(pack)">Delete</button>
    </clr-dg-action-overflow>
  </clr-dg-row>
</clr-datagrid>